<div class="container" *ngIf="user?.role === 'ROLE_ORGANIZER'">
  <h2>
    {{ isEditMode ? "Modifica Evento" : "Crea Evento" }}
  </h2>
  <form #eventForm="ngForm" (ngSubmit)="submitEvent()">
    <div class="mb-3">
      <label for="title" class="form-label">Titolo</label>
      <input
        type="text"
        id="title"
        name="title"
        class="form-control"
        [(ngModel)]="event.title"
        required
      />
    </div>

    <div class="mb-3">
      <label for="description" class="form-label">Descrizione</label>
      <textarea
        id="description"
        name="description"
        class="form-control"
        rows="3"
        [(ngModel)]="event.description"
      ></textarea>
    </div>

    <div class="mb-3">
      <label for="eventDate" class="form-label">Data Evento</label>
      <input
        type="date"
        id="eventDate"
        name="eventDate"
        class="form-control"
        [(ngModel)]="event.eventDate"
        required
      />
    </div>

    <div class="mb-3">
      <label for="location" class="form-label">Luogo</label>
      <input
        type="text"
        id="location"
        name="location"
        class="form-control"
        [(ngModel)]="event.location"
        required
      />
    </div>
    <div class="mb-3">
      <label for="category">Categoria</label>
      <select id="category" name="category" [(ngModel)]="event.category">
        <option value="Discoteca">Discoteca</option>
        <option value="Pre Party/Bar">Pre Party/Bar</option>
        <option value="After Party">After Party</option>
      </select>
    </div>

    <div class="mb-3">
      <label for="ticketLink">Link biglietti (opzionale)</label>
      <input
        type="text"
        id="ticketLink"
        name="ticketLink"
        class="form-control"
        [(ngModel)]="event.ticketLink"
      />
    </div>

    <button type="submit" class="btn btn-primary">
      {{ isEditMode ? "Aggiorna Evento" : "Crea Evento" }}
    </button>
  </form>
</div>
