<p>home works!</p>
<div class="row my-2 text-black">
  <div class="col col-4">
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-6">
          <img
            id="img-card"
            src="../../../../logoAle2.jpeg"
            class="img-fluid rounded-start"
            alt=""
          />
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <h5 class="card-title text-black">Titolo</h5>
            <p class="card-text">Descrizione</p>
            <p class="card-text text-center text-warning">
              fav
              <a class="btn text-blaxk"><i class="bi bi-heart"></i></a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
