<header class="p-3 bg-black">
  <div class="container">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
    >
      <a
        href="/"
        class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none"
      >
        <img src="../../../../logoAle2.jpeg" alt="" />
      </a>

      <ul
        class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
      >
        <li>
          <a routerLink="" class="nav-link px-2 text-warning">Home</a>
        </li>
        <li>
          <a routerLink="/disco" class="nav-link px-2 text-white">Discoteche</a>
        </li>

        <li>
          <a routerLink="/pre-party" class="nav-link px-2 text-white"
            >Pre Party</a
          >
        </li>
        <li>
          <a routerLink="/after-party" class="nav-link px-2 text-white"
            >After Party</a
          >
        </li>
        <li>
          <a routerLink="" class="nav-link px-2 text-white">Lavora con noi</a>
        </li>
      </ul>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
        <input
          type="search"
          class="form-control form-control-dark bg-white"
          placeholder="Search..."
          aria-label="Search"
        />
      </form>

      <div ngTemplate *ngIf="!authSvr.getCurrentUser()">
        <div class="text-end">
          <a
            routerLink="/auth/login"
            type="button"
            class="btn btn-outline-light me-2"
            >Login</a
          >
          <a routerLink="/auth/register" type="button" class="btn btn-warning"
            >Register</a
          >
        </div>
      </div>
      <div *ngIf="authSvr.getCurrentUser()" class="row">
        <div class="col">
          <div ngbDropdown class="d-inline-block">
            <img
              type="button"
              class="btn btn-outline-primary"
              id="dropdownBasic1"
              ngbDropdownToggle
              src="https://i.pinimg.com/564x/1b/a2/e6/1ba2e6d1d4874546c70c91f1024e17fb.jpg"
              alt="avatar"
              class="rounded-circle"
            />

            <ul ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <li ngbDropdownItem>
                <a class="dropdown-item" routerLink="/profile">Profilo</a>
              </li>

              <li ngbDropdownItem>
                <a routerLink="/events/manage" class="dropdown-item"
                  >Gestione eventi</a
                >
              </li>

              <div>
                <li ngbDropdownItem>
                  <a routerLink="/saved-event" class="dropdown-item"
                    >Eventi salvati</a
                  >
                </li>
              </div>

              <li ngbDropdownItem>
                <a (click)="logout()" class="dropdown-item btn">Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
