<header class="p-3 bg-black">
  <div class="container">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
    >
      <a
        href="/"
        class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none"
      >
        <img src="../../../../logoAle2.jpeg" alt="" />
      </a>

      <ul
        class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
      >
        <li>
          <a routerLink="" class="nav-link px-2 text-secondary">Home</a>
        </li>
        <li>
          <a routerLink="" class="nav-link px-2 text-white">Discoteche</a>
        </li>
        <li>
          <a routerLink="" class="nav-link px-2 text-white">Pre-serata</a>
        </li>
        <li><a routerLink="" class="nav-link px-2 text-white">Bar</a></li>
        <li>
          <a routerLink="" class="nav-link px-2 text-white">Lavora con noi</a>
        </li>
      </ul>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
        <input
          type="search"
          class="form-control form-control-dark bg-white"
          placeholder="Search..."
          aria-label="Search"
        />
      </form>

      <div class="text-end">
        <a
          routerLink="/auth/login"
          type="button"
          class="btn btn-outline-light me-2"
          >Login</a
        >
        <a routerLink="/auth/register" type="button" class="btn btn-warning"
          >Register</a
        >
      </div>
    </div>
  </div>
</header>
