<div class="container p-4">
  <div class="row">
    <!-- Cicla sugli eventi ricevuti dall'observable (usando l'async pipe) -->
    <div *ngFor="let event of discoEvents" class="col-md-4 mb-4">
      <div class="card h-100">
        <!-- Se hai immagini potresti usare una card-img-top, altrimenti ometti questa parte -->
        <!-- <img src="path/to/immagine.jpg" class="card-img-top" alt="Immagine evento"> -->
        <div class="card-body">
          <h5 class="card-title">{{ event.title }}</h5>
          <p class="card-text">{{ event.description }}</p>
          <p class="card-text">
            <small class="text-muted">
              {{ event.category }}
            </small>
          </p>
          <p class="card-text">
            <small class="text-muted">
              {{ event.eventDate | date : "shortDate" }} - {{ event.location }}
            </small>
          </p>

          <!-- rendere il link cliccabile -->
          <a *ngIf="event.ticketLink" href="{{ event.ticketLink }}"
            >Acquista il biglietto</a
          >
        </div>
        <div class="card-footer text-center">
          <!-- Pulsante per salvare nei preferiti -->
          <p class="card-text text-center text-warning">
            <a class="btn text-warning"><i class="bi bi-heart"></i></a>
          </p>
          <!-- <button
            class="btn btn-outline-primary btn-sm"
            (click)="onSaveEvent(event.id)"
          >
            Salva nei preferiti
          </button> -->
        </div>
      </div>
    </div>
  </div>
</div>
