<!-- <div class="container">
  <div class="row">
    <div *ngFor="let event of events$ | async" class="col-md-4 mb-3">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">{{ event.title }}</h5>
          <p class="card-text">{{ event.description }}</p>
          <p class="card-text">
            <small class="text-muted">
              {{ event.eventDate | date : "shortDate" }} - {{ event.location }}
            </small>
          </p>
          <button
            class="btn btn-outline-primary"
            (click)="onSaveEvent(event.id)"
          >
            Salva nei preferiti
          </button>
        </div>
      </div>
    </div>
  </div>
</div> -->
